.red {
    color: red;
}

.popBox {
    min-width: 500px;
    min-height: 300px;
    position: absolute;
    /*background-color: red;*/
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    border: solid 1px;
}

.popBox #close {
    position: absolute;
    right: 5px;
}

.popBox .box-title {
    border-bottom: solid 1px;
    font-size: 18px;
    margin: 0;
    padding: 10px 0 10px 10px;
}

.advancedSearch .content {
    margin-left: 20px;
    margin-right: 20px;
}

.advancedSearch h2 {
    font-size: 13px;
}

.advancedSearch h2 span {
    margin-right: 2px;
}

.advancedSearch select {
    width: 110px;
    height: 20px;
}

.advancedSearch .m1 {
    margin-right: 142px;
}

.advancedSearch .m2 {
    margin-right: 59px;
}

.advancedSearch .m3 {
    margin-right: 45px;
}

.view {
    overflow: hidden;
    margin-top: 20px;
}

.view ul {
    width: 500px;
    height: 165px;
    margin-right: 10px;
    border: solid 1px;
    float: left;
}

.view-button {
    float: right;
    width: 65px;
}

.view-button button {
    width: 65px;
    height: 24px;
    margin-bottom: 11px;
    border-radius: 4px;
    background-color: #EDEDED;
}

.view-button a {
    margin-right: 5px;
}